body {
    background-color: #ccc;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: 10px;
}

.info {
    font-size: 22px;
    color: red;
}

img {
    width: 100px;
    height: 60px;
}